<a href="https://colab.research.google.com/github/vserta/br-python-challenges/blob/master/Desafio_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Desafio 8

Escreva um script Python para encontrar as 10 palavras mais longas em um arquivo.

O arquivo TXT est√° localizado na mesma pasta do projeto (texto.txt).

In [3]:
import pandas as pd
import re

In [4]:
with open('texto.txt') as file:
    words_list = []
    
    for line in file:
        
        for word in line.split():
            words_list.append(word)

In [5]:
word_len = pd.DataFrame(words_list, columns=['word1'])

In [6]:
word_len['word2'] = word_len['word1'].map(lambda x: re.sub('\W+','',x))

In [7]:
word_len['word3'] = word_len['word2'].str.len()

In [8]:
word_len.nlargest(10, 'word3')

               word1           word2  word3
10  general-purpose,  generalpurpose     14
48  object-oriented,  objectoriented     14
70     comprehensive   comprehensive     13
93     intermediate)    intermediate     12
11      interpreted,     interpreted     11
13       programming     programming     11
14      language.Its     languageIts     11
19      readability,     readability     11
24       programmers     programmers     11
45       programming     programming     11