<a href="https://colab.research.google.com/github/vserta/br-python-challenges/blob/master/Exercicio_API_IPCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests

In [2]:
import json

In [4]:
import pandas as pd

In [38]:
url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=json&dataInicial=01/01/2020&dataFinal=01/02/2021'

In [39]:
df = pd.read_json(url)

In [41]:
df.head(12)

          data  valor
0   01/01/2020   0.21
1   01/02/2020   0.25
2   01/03/2020   0.07
3   01/04/2020  -0.31
4   01/05/2020  -0.38
5   01/06/2020   0.26
6   01/07/2020   0.36
7   01/08/2020   0.24
8   01/09/2020   0.64
9   01/10/2020   0.86
10  01/11/2020   0.89
11  01/12/2020   1.35